# Configuración predeterminada de Ansible
[defaults]
# Archivo de inventario
inventory = ./inventory.ini
# Usuario remoto y llave privada se definen en el inventario generado por Terraform
# Deshabilitar verificación de llaves de host
host_key_checking = False
# Deshabilitar archivos de reintento
retry_files_enabled = False

# Configuración de escalado de privilegios
[privilege_escalation]
# Habilitar become (sudo)
become = True
# Método de escalado
become_method = sudo
# Usuario objetivo
become_user = root
# No solicitar contraseña para sudo
become_ask_pass = False
